* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #BFBFBF;
    --cor02: #737373;
    --cor03: #595959;
    --cor04: #404040;
    --cor05: #262626;
    --cor06: #181818;
    --corBotaoSocial: #202020;
    --corBotaoSocialHover: whitesmoke;
    --corBotaoSocialActive: #737373;
}

body {
    height: 1350px;  
}

.img-logo {
    width: 55px;
    margin-left: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor06);
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 7px -3px black;
    position: relative;
    z-index: 1;
}

header>nav {    
    display: inline-block;   
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 3rem;
}

header li a {
    text-decoration: none;
    color: white;
    border: transparent;
}

header li a:hover {
    border-bottom: 2px solid #CC9933;
    padding-bottom: 5px;

}

.bg-section-impar{   
    position: relative;
    z-index: 0; 
    padding: 40px 80px;
    margin: auto;
    background-color: var(--cor01);
}

.bg-section-par{
    position: relative;
    z-index: 0; 
    padding: 40px 80px;
    margin: auto;
    background-color: var(--corBotaoSocialHover);
}

#sobre {
    margin-bottom: 80vh;
}

#hall_da_fama, #caridade, #previsaoDoTempo, #museStack {
    margin-bottom: 10vh;
}

.carousel {
    min-width: min-content;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--cor01);
}

.containerCards {
    min-width: min-content;
    display: flex;
    gap: 20px;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor02);
}

.cards {
    position: relative;
    flex: 1;
    margin: 0 auto auto auto;
    padding: 10px;
    max-width: 250px;
    border-radius: 10px;
    min-height: 415px;
    background-image: linear-gradient(to top, var(--cor03), transparent);
    color: white;
    border: 1px solid white;
}

.cards>h2 {
    width: 100%;
    font-size: 1.3em;
    margin-top: 30px;
}

.imgPerfil {
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--cor01);
}

.imgPerfil>img {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%) translateY(-50%);
}

.devContatos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    display: flex;
    margin: auto;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--cor02), transparent);
    margin-bottom: 20px;
}

.devContatos svg {
    width: 36px;
    height: 36px;
    fill: var(--corBotaoSocial);
    transition: fill 0.3s;
}

.devContatos svg:hover {
    fill: var(--corBotaoSocialHover);
}

.devContatos svg:active {
    fill: var(--corBotaoSocialActive);
}

.devContatos a {
    margin: auto;
}

.prev {
    border: none;
    background-color: transparent;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -20px;
    margin-left: 20px;
}

.prev>a {
    font-size: 3em;
    color: var(--corBotaoSocial);
    text-decoration: none;
}

.prev>a:hover {
    font-size: 3em;
    transition: 0.3s;
    color: var(--cor05);
}

.prev>a:active {
    font-size: 3em;
    color: var(--cor01);
}

.next {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    margin-left: 20px;
}

.next>a {
    font-size: 3em;
    color: var(--corBotaoSocial);
    text-decoration: none;
}

.next>a:hover {
    font-size: 3em;
    transition: 0.3s;
    color: var(--cor05);
}

.next>a:active {
    font-size: 3em;
    color: var(--cor01);
}


/* Adições Caio Rossi */
.placeholder_img {
    height: 30vh;
    display: block;
    margin: 2em auto;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.5em;
}

#sobre h1 {
    text-align: center;
    margin-top: 10em;
}

#sobre p {
    margin: 2em 30em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
  
.footer-container {
    display: flex;
    justify-content: space-around;
}
  
.info-section, .contact-section, .social-section {
    flex: 1;
    margin-right: 20px;
}
  
.social-section ul {
    list-style: none;
    padding: 0;
}
  
.social-section li {
    margin-bottom: 8px;
}
  
.copyright {
    margin-top: 90px;
    text-align: center;
}